body{
    background-color: lightgray;
}

.titulo-principal{
    text-align: center;
    letter-spacing: 6px;
}

.contenido-principal{
    /* medidas relativas */
    width: 90%;
    margin: 0 auto;
}

.contenido-principal article{
    width: 80%;
    margin: 0 auto;
}

.contenido-principal .encabezado{
    background-color: gray;
    color: white;
    padding: 10px 5px;
}

.contenido {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}


.contenido-parrafo{
    margin-left: 10px;
    text-align: center;
}